/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #212121;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    color: #615238;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #615238;
}

/* Navbar */
nav.logo-container {
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    padding: 5px 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    word-wrap: break-word; /* Ensure text wraps to next line */
    word-break: break-all;
}

nav.logo-container img {
    height: 40px;
    border-radius: 20px;
}

nav.logo-container a {
    color: #fff;
    font-size: 16px;
    margin-right: 20px;
}

nav .button {
    background-color: #615238;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav .button:hover {
    background-color: #615238;
}

nav p {
    margin: 0;
    font-size: 17px;
}

/* Swap Section */
#swapSection {
    background-color: #25262C;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#swapSection p, #swapSection label {
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
}

#swapSection select, #swapSection input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

#swapSection .button {
    background-color: #615238;
    color: #fff;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#swapSection .button:hover {
    background-color: #615238;
}

#swapSection hr {
    border: 1px solid #333;
}

/* Info and Details */
#countdown, #lastUpdate, .estimatedamount {
    font-size: 12px;
    color: #A0A0A0;
}

#gasFee {
    color: #615238;
}

/* Footer Section */
footer {
    margin: 50px 0;
}

footer p {
    color: #646365;
    font-size: 12px;
}
.estimatedamount {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

p.dark-theme {
  color: white;
}

body.dark-theme {
    background-color: #121212; /* Warna latar belakang gelap */
    color: #f5f6fa; /* Warna teks terang */
}

.wallet-details {
    padding: 30px;
    background-color: #ffffff;
    color: #615238;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: left;
}

.wallet-details h1 {
    font-size: 24px;
    color: #615238;
}

.wallet-details.dark-theme {
    background-color: #1f1f1f; /* Latar belakang gelap untuk wallet details */
}

.stake-form {
    margin: 20px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.stake-form.dark-theme {
    background-color: #1f1f1f; /* Latar belakang gelap untuk stake form */
}

.stake-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.stake-form input {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.stake-button {
    background-color: #615238; /* Warna biru */
    height: 50px;
    width: 100%;
}

.stake-button:hover {
    background-color: #615238;
}

#currentStakes {
    margin: 20px;
}

.staking-result {
    margin-top: 10px;
    font-weight: bold;
    color: #4fd9ac; /* Merah untuk hasil */
}

#rewardEstimateContainer {
    margin-top: 10px;
    font-weight: bold;
    color: #615238; /* Biru Muda untuk estimasi */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

footer.dark-theme {
    background-color: #1f1f1f; /* Latar belakang gelap untuk footer */
}

/* Gaya tombol untuk tema gelap */
button.dark-theme {
    background-color: black; /* Warna biru lebih gelap untuk tema gelap */
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.icon-button i {
    font-size: 24px; /* Ukuran ikon */
    color: #3c8ce7; /* Warna ikon */
    transition: color 0.3s;
}

body.dark-theme .icon-button i {
    color: #ffcc00; /* Warna ikon saat tema gelap */
}

.pjupstake {
  color: black;
}
.detailstx {
  color: #f2bb19;
  font-family: Monospace;
  margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #00000084;
}
.searchinputjup {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}
#mempool-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.mempool-section {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
}

.transaction {
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
}

.transaction p {
    margin: 4px 0;
}

.transaction strong {
    font-weight: bold;
}


h1 {
    text-align: center;
    color: #000000;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.block {
    background-color: #1e1e1e; /* Warna latar belakang blok */
    border: 1px solid #000000; /* Border ungu */
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    flex: 0 0 45%; /* Ukuran blok */
    transition: transform 0.3s;
}

.block p {
    margin: 5px 0;
}

.pending-block {
    background-color: #ffffff;
    color: black;
    border-color: skyblue;
}

.confirmed-block {
    background-color: black;
    color: white;
    border-color: skyblue;
}

.status {
    font-weight: bold;
}

@keyframes moveToConfirmed {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px); /* Gerakan saat berpindah ke confirmed */
    }
}

.animation {
    animation: moveToConfirmed 1s forwards; /* Menambahkan animasi */
}
